<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/css/styles.css">
<!--  <link rel="stylesheet" href="/css/admin.css">-->

</head>
<body>
<h1>Welcome, Admin</h1>
<h4>Acebuche, Raiza Ann B.</h4>
<h4>Bergoro, Renee Razcae P.</h4>

<nav>
  <a href="/admin/buses">Manage Buses</a> |
  <a href="/admin/routes">Manage Routes</a> |
  <a href="/admin/reservations">Manage Reservations</a> |
  <a href="/admin/payments">Manage Payments</a>
</nav>
<div>
  <h2>Admin Tasks</h2>
    <!-- Admin-specific content -->
</div>
</body>
</html>
