<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Client Dashboard</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/client.css">

</head>
<body>
<h1>Welcome, Client</h1>
<h4>Acebuche, Raiza Ann B.</h4>
<h4>Bergoro, Renee Razcae P.</h4>

<nav>
  <a href="/client/reservations">Make a Reservation</a> |
  <a href="/client/my-reservations">View My Reservations</a> |
</nav>
<div>
  <h2>Client Tasks</h2>
  <!-- Client-specific content -->
</div>
</body>
</html>
