<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Staff Dashboard</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/staff.css">

</head>
<body>
<h1>Welcome Staff</h1>
<h4>Acebuche, Raiza Ann B.</h4>
<h4>Bergoro, Renee Razcae P.</h4>

<nav>
  <a href="/staff/reservations">Manage Reservations</a> |
  <a href="/staff/payments">View Payments</a>
</nav>
<div>
  <h2>Staff Tasks</h2>
  <!-- Staff-specific content -->
</div>
</body>
</html>
